a{
    text-decoration: none;
    color : black;
}

nav{
    display: none;

}

#Choix{
    text-align: center;
    display: grid;
    grid-column: 3;
    margin-top: 10px;
}

#TP{
    grid-column: 1 / 3;
    grid-row: 1;
    margin-left: 255px;
}

.textenav {
    list-style-type: none;

}


.textenav li {
    display: inline;
    margin: 10px;
}

.textenav li a {
    text-decoration: none;
    color: black;
}

h1{
    margin-left: 255px;
}



#wrapper{
    margin-left: 200px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    margin-bottom: 50px;

}



.card{
    width: 400px;
    margin: 60px;
    margin-bottom: -10px;

}
.container2{
    border: 1px solid black;
    border-top: none;
    height: 200px;
    margin-bottom: 20px;
}
.container1 {
    border: 1px solid black;
    height: 200px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Description{
    margin-left: 20px;
}

h4{
    margin-bottom: 20px;
}






#wrapper2{
    margin-left: 30px;
    display: flex;
    gap: 10px;
    margin-top: 50px;

}

footer{
    border-top: 2px solid black;

    margin-bottom: 20px;
}

.column1{
    margin-top: 30px;
    display: block;
    margin-right: 100px;
}



.column2{
    margin-top: 30px;
    display: block;
    margin-right: 100px;

}
.column3{
    margin-top: 30px;
    display: block;
}

.imageF{
    width: 50px;
    margin-left: 50px;
}


#mobile-menu{
    display: none;
}


@media (max-width: 768px) {
    nav {
        display: none;
    }

    #mobile-menu{
        display: block;
    }
    #TP {
        margin-left: 0;
    }

    h1 {
        margin-left: 0;
    }

    #wrapper {
        margin-left: 0;
        grid-template-columns: 1fr;
        max-width: 100%;
    }

    .card {
        margin: 0 auto;
        max-width: 90%;
    }

    #wrapper2 {
        flex-direction: column;
        margin-left: 0;
        text-align: center;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    #wrapper {
        grid-template-columns: repeat(2, 1fr);
        max-width: 768px;
    }
    nav{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 10px;
        grid-auto-rows: minmax(100px, auto);
        border-bottom: 2px solid black;
    }
}

@media (min-width: 1024px) {
    #wrapper {
        grid-template-columns: repeat(3, 1fr);
        max-width: 1024px;
    }

    nav {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 10px;
        grid-auto-rows: minmax(100px, auto);
        border-bottom: 2px solid black;
    }
}