a{
    text-decoration: none;
    color : black;
}

nav{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    grid-auto-rows: minmax(100px, auto);
}

#Choix{
    text-align: center;
    display: grid;
    grid-column: 3;
    margin-top: 10px;
}

#TP{
    grid-column: 1 / 3;
    grid-row: 1;
    margin-left: 30px;
}

.textenav {
    text-align: center;
    grid-row: 1;

}

h1{
    margin-left: 30px;
}

#wrapper{
    margin-left: 30px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    grid-auto-rows: minmax(100px, auto);
}



.card1{
    columns: 1;
    row : 1;
}
.card2 {
    columns: 2;
    row: 1;
}
.card3{
    columns: 3;
    row : 1;
}
.card4{
    columns: 1;
    row: 2;
}
.card5 {
    columns: 2;
    row: 2;
}
.card6{
    columns: 3;
    row: 2;
}









